@font-face {
	font-family: 'Montserrat'; 
	src: url(/fonts/Montserrat-Regular.ttf); 
}
@font-face {
	font-family: 'Montserrat-Medium'; 
	src: url(/fonts/Montserrat-Medium.ttf); 
}
@font-face {
	font-family: 'Montserrat-Bold'; 
	src: url(/fonts/Montserrat-ExtraBold.ttf); 
}
@font-face {
	font-family: 'Montserrat-Bold1'; 
	src: url(/fonts/Montserrat-Bold.ttf); 
}
body {
    margin: 0;
}
.wrapper-1 {
    margin-top: 0;
    height: 900px;
    background-image: url(/img/background-1.png);
}
header {
    margin: 0 auto 0 auto;
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: right;
    border-bottom: 1px solid rgba(161, 161, 161, 1);
}
.header-links {
    width: 30%;
    margin: 0 20% 0 50%;
    display: flex;
    justify-content: space-between;
}
.header-link-block {
    display: flex;
    height: 100%;
    align-items: center;
    border-bottom: 2px solid transparent;
}
.header-link-block:hover {
    transition: 0.5s;
    border-bottom: 2px solid rgba(255, 255, 255, 1);
}
.header-link {
    line-height: 19.5px;
    font-family: 'Montserrat-Medium';
    font-size: 16px;
    color: rgba(255, 255, 255, 1);
    text-decoration: none;
}
.title-div {
    width: 50%;
    margin: 220px auto 335px auto;
    text-align: center;
}
.title {
    margin-top: 20px;
    margin-bottom: 50px;
    color: rgba(255, 255, 255, 1);
    font-family: 'Montserrat-Bold';
    font-size: 48px;
}
.title-text {
    margin: 0;
    line-height: 19.5px;
    font-family: 'Montserrat-Medium';
    font-size: 16px;
    color: rgba(255, 255, 255, 1);
    text-decoration: none;
}
.title-btn {
    line-height: 19.5px;
    font-family: 'Montserrat-Medium';
    font-size: 16px;
    color: rgba(255, 255, 255, 1);
    text-decoration: none;
    padding: 14px 36px;
    background-color: #4985FF;
    border-radius: 30px;
    border: none;
    cursor: pointer;
}
.wrapper-2 {
    margin: 0;
    height: 700px;
    text-align: center;
}
.content-about-title {
    width: 40%;
    font-family: 'Montserrat-Bold1';
    font-size: 36px;
    margin: 0 auto;
    padding-top: 110px;
}
.content-about-text {
    margin: 50px auto 70px auto;
    width: 40%;
    font-family: 'Montserrat';
    font-size: 16px;
    color: rgba(153, 153, 153, 1);
}
.content-wrapper {
    display: flex;
    justify-content: space-between;
    width: 60%;
    margin: 0px auto 55px auto;
}
.content-block {
    width: 30%;
    display: flex;
    justify-content: space-between;
}
.content-title {
    font-size: 18px;
    font-family: 'Montserrat-Bold1';
    margin-bottom: 12px;
}
.content-description {
    margin-top: 0;
    font-size: 14px;
    font-family: 'Montserrat';
    color: rgba(153, 153, 153, 1);
}
.content-btn {
    line-height: 19.5px;
    font-family: 'Montserrat-Medium';
    font-size: 16px;
    color: rgba(255, 255, 255, 1);
    text-decoration: none;
    padding: 14px 55px;
    background-color: #4985FF;
    border-radius: 30px;
    border: none;
    cursor: pointer;
}
.wrapper-3 {
    margin: 0;
    height: 800px;
    background-color: rgba(246, 246, 248, 1);
}
.standarts-block {
    width: 60%;
    margin: 0 auto 70px auto;
    padding-top: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 90px;
    border-bottom: 1px solid #E0E0E0;
}
.standarts-text-block {
    width: 50%;
}
.standarts-title {
    margin: 0 auto 40px auto;
    font-size: 36px;
    font-family: 'Montserrat-Bold1';
}
.standarts-text {
    margin: 7px auto;
    font-size: 16px;
    font-family: 'Montserrat';
    color: rgba(153, 153, 153, 1);
}
.standarts-link {
    font-family: 'Montserrat';
    font-size: 16px;
    color: #4985FF;
    text-decoration: none;
    border-bottom: 1px solid #4985FF;
}
.standarts-block-2 {
    width: 50%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
.standarts-titlte-2 {
    display: inline;
    margin-left: 5px;
    font-size: 36px;
    font-family: 'Montserrat';
}
.standarts-text-2 {
    margin: 7px auto;
    font-family: 'Montserrat';
    font-size: 16px;
    color: #999999;
}
.wrapper-4 {
    height: 1000px;
}